@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(17, 17, 17));
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px 30px 0px;
    max-width: 481px;
}

article{
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

article p {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
    width: 50%;
}

.p-article{
    font-weight: bold;
    width: 50%;
    margin-left: 135px;
    font-size: small;
}

.declaracao{
    width: 80%;
    margin-top: 20px;
}

.container img {
    margin-top: 10px;
}

.container-img {
    margin-top: 10px;
}

.container-img img:first-child{
    transform: rotate(-7deg);
    margin-left: 30px;
    position: relative;
    z-index: 1;
}

.container-img img:last-child{
    transform: rotate(5deg);
    margin-right: 30px;
}

h3{
    background-color: #e8122456;
    padding: 10px;
}

.carousel {
    position: relative;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 200px;
    object-fit: cover;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

h2 {
    margin-top: 20px;
}

#audio {
    display: none;
}