@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(26, 26, 26));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px;
    max-width: 481px;
    box-shadow: 3px 3px 3px 1px rgba(206, 206, 206, 0.438);
}

article{
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

article p {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
    width: 50%;
}

.p-article{
    font-weight: bold;
    width: 50%;
    margin-left: 135px;
    font-size: small;
}


